# import packages

In [1]:
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import pandas as pd

# add temporary locations as list

In [2]:
location = ['vienna','berlin', 'paris', 'london', 'tokyo']

# turn list into a dataframe

In [3]:
df = pd.DataFrame({'location':location})

In [4]:
df.head()

  location
0   vienna
1   berlin
2    paris
3   london
4    tokyo

In [5]:
df['lat']=0

In [6]:
df['long']=0

In [7]:
df.head()

  location  lat  long
0   vienna    0     0
1   berlin    0     0
2    paris    0     0
3   london    0     0
4    tokyo    0     0

# Obtain lat and long values from city name

In [12]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")

for row in df['location']:  
    #print(row)
    city = geolocator.geocode(row)
    df['lat'] = city.latitude
    df['long'] = city.longitude
    #lat = city.latitude
    #long = city.longitude
    #print(lat, long)

In [13]:
df.head()

  location        lat        long
0   vienna  35.682839  139.759455
1   berlin  35.682839  139.759455
2    paris  35.682839  139.759455
3   london  35.682839  139.759455
4    tokyo  35.682839  139.759455