In [15]:
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
location = ['vienna','berlin', 'paris', 'london', 'tokyo']

In [17]:
df = pd.DataFrame({'location':location})

In [18]:
df.head()

  location
0   vienna
1   berlin
2    paris
3   london
4    tokyo

In [26]:
for row in df['location']:
    print(row)

vienna
berlin
paris
london
tokyo

In [29]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")

for row in df['location']:  
    print(row)
    city = geolocator.geocode(row)
    lat = city.latitude
    long = city.longitude
    print(lat, long)

vienna
48.2083537 16.3725042
berlin
52.5170365 13.3888599
paris
48.8566101 2.3514992
london
51.5073219 -0.1276474
tokyo
35.6828387 139.7594549